/*headings*/
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 1000
*/
.nunito-header {
	font-family: "Nunito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500; /* 200 - 1000*/
	font-style: normal;
}

:root {
	box-sizing: border-box;
	--accent: #ecc9e1;
	--background: #ebe9ea;
	font-family: "nunito", sans-serif;
	--textColour: #3a2f27;
}

body {
	background-color: #f7f2f5;
	margin: 0;
	overflow-x: hidden;
}